nav{
    background: hsl(0 0% 100% / 0.75);
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid hsl(0 0% 50%);
    height: 82px;
    z-index: 2;
}
.nav-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50rem;
    max-width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
    height: 5rem;
}
#kita-icon{
    height: 3.125rem;
    width: 3.125rem;
}
#kita-title{
    font-size: 25px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}
#follow-button{
    padding: 0.5rem 1.25rem;
    text-align: center;
    color: white;
    text-decoration: none;
    background: linear-gradient(90deg, rgb(66, 135, 245), rgb(46, 87, 232));
    border-radius: 20px;
    font-size: 20px;
}
#header{
    background-color: gainsboro;
    height: 1000px;
    position: relative;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}
#header-text{
    font-size: 100px;
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
}
.header-pict{
    position: absolute;
    width: 300px;
}
#h-pict1{
    top: 30px;
    left: 1200px;
    border-radius: 10px;
    width: 400px;
    transform: rotate(10deg)
}
#h-pict2{
    top: 600px;
    left: 30px;
    border-radius: 10px;
    width: 450px;
    transform: rotate(-5deg)
}
#h-pict3{
    top: 700px;
    right: -20px;
    border-radius: 10px;
    width: 200px;
    transform: rotate(5deg)
}
#h-pict4{
    top: 50px;
    left: -30px;
    border-radius: 10px;
    width: 250px;
    transform: rotate(-3deg)
}
.pict1-leaving{
    transition-duration: 2s;
    
}
.pict1-leaving:hover{
    transform: translate(10px, 10px);
}
