body{
    overflow-x: hidden;
    background-color: gainsboro;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}
*{
    box-sizing: border-box;
}
nav{
    background: hsl(0 0% 100% / 0.75);
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid hsl(0 0% 50%);
    height: 5.125rem;
    z-index: 3;
}
.nav-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 55rem;
    max-width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
    height: 5rem;
}
.followandtheme{
    display: flex;
}
.theme-switch{
    margin-right: 5px;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.theme-switch svg{
    fill: #0762c3;
}
.theme-switch svg:last-child{
    display: none;
}
.darkmode .theme-switch svg:first-child{
    display: none;
}
.darkmode .theme-switch svg:last-child{
    display: block;
}
#kita-icon{
    height: 3.125rem;
    width: 3.125rem;
}
#kita-title{
    font-size: 1.563rem;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}
#follow-button{
    padding: 0.5rem 1.25rem;
    text-align: center;
    color: white;
    text-decoration: none;
    background: linear-gradient(90deg, rgb(66, 135, 245), rgb(46, 87, 232));
    border-radius: 20px;
    font-size: 1.25rem;
}
#header{
    display: flex;
    background-color: gainsboro;
    height: 63.75rem;
    position: relative;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    z-index: 2;
    overflow: hidden;
}
#header-text{
    font-size: 9.375rem;
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
}
.hidden{
    display: none;
}
.header-pict{
    position: absolute;
    width: 18.75rem;
    box-shadow: 0px 10px  20px grey;
    filter: grayscale(50%);
    transition-duration: 100ms;
}
#h-pict1{
    top: 1.875rem;
    right: -1.875rem;
    border-radius: 10px;
    width: 25rem;
    transform: rotate(10deg);
    opacity: 1;
}
#h-pict1:hover{
    filter: none;
    transform: rotate(0deg) scale(1.1);
}
#h-pict2{
    top: 37.5rem;
    left: 1.875rem;
    border-radius: 10px;
    width: 28.125rem;
    transform: rotate(-5deg);
    opacity: 1;
}
#h-pict2:hover{
    filter: none;
    transform: rotate(0deg) scale(1.1);
}
#h-pict3{
    top: 33.75rem;
    right: -1.25rem;
    border-radius: 10px;
    width: 18.75rem;
    transform: rotate(5deg);
    opacity: 1;
}
#h-pict3:hover{
    filter: none;
    transform: rotate(0deg) scale(1.1);
}
#h-pict4{
    top: 3.125rem;
    left: -1.875rem;
    border-radius: 10px;
    width: 28.125rem;
    transform: rotate(-3deg);
    opacity: 1;
}
#h-pict4:hover{
    filter: none;
    transform: rotate(0deg) scale(1.1); 
}
.section1{
    background-color: gainsboro;
    height: 57.75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}
#section1-text{
    text-align: center;
    font-size: 5rem;
    width: 50rem;
}
#kykny{
    color: gray;
    font-size: 1.875rem;
    display: inline;
}
.section2{
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    max-width: 100%;
    height: 100%;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    position: relative;
}
#section2-text{
    font-size: 8.25rem;
    margin: 0 auto;
    text-align: center;
    width: 43.75rem;
    max-width: 100%;
    color: white;
    background: linear-gradient(90deg, #0762c3, #c6c2ee);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.625rem;
}
.chat{
    position: absolute;
    top: 13.25rem;
    left: 5.125rem;
    margin: 0.625rem 0.625rem;
    z-index: 1;
}
.chat-baloon{
    background-color: #075e54;
    border-radius: 0px 5px 5px 5px;
    opacity: 0;
    transition-duration: 300ms;
}
.right-chat{
    position: absolute;
    right: -18.75rem;
    width: 100%;
    z-index: 1;
    background-color: #075e54;
    border-radius: 0px 5px 5px 5px;
    opacity: 0;
}
#last-chat{
    margin-top: 4.375rem;
}
#dzaki{
    width: 9.375rem;
    border-radius: 5px;
}
.chat-name1{
    color: orange;
}
.chat-name2{
    color: violet;
}
.chat-name3{
    color: green;
}
.chat-name4{
    color: greenyellow;
}
.chat-color{
    color: white;
}
.phone-section{
    width: 50rem;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}
#samsung{
    width: 100%;
}
.swipe-right{
    opacity: 1;
    transform: translateX(2.5rem);
    transition-duration: 300ms;
}
.swipe-left{
    opacity: 1;
    transform: translateX(-5rem);
    transition-duration: 300ms;
}
.all{
    background-color: gainsboro;
}
.section3{
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    background: linear-gradient(360deg,#4a96e4, #dcdcdc);
    height: 100%;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    position: relative;
    border-radius: 0px 0px 30px 30px;
}
#section3-text{
    font-size: 6.25rem;
    margin: 0 auto;
    text-align: center;
    width: 43.75rem;
    max-width: 100%;
    color: white;
    background: linear-gradient(90deg, #0762c3, #c6c2ee);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 0.625rem;
}
.gang-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 62.5rem;
    max-width: 100%;
    margin: 1.25rem auto;
}
.gang{
    position: relative;
    margin: 0.625rem 0.625rem;
    width: 28.125rem;
    height: 28.125rem;
    background-color: white;
    border-radius: 30px;
    transition-duration: 100ms;
}
.gang:hover{
    transform: scale(1.1);
    z-index: 2;
}
.people{
    width: 28.125rem;
}
.name{
    position: absolute; 
    width: 28.125rem;
    height: 2.813rem;
    border-radius: 0px 0px 30px 30px;
    top: 90%;
    text-align: center;
    background: hsla(0, 0%, 27%, 0.75);
    color: white;
}
.footer{
    height: 6.25rem;
    background-color: gainsboro;
}
.footer-text{
    font-size: 1.25rem;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    width: 25rem;
    max-width: 100%;
    padding: 1.875rem;
    margin: 0 auto;
}
@media only screen and (max-width: 1200px){
    html{
        font-size: 16px;
    }
}
@media only screen and (max-width: 992px){
    html{
        font-size: 14px;
    }
}
@media only screen and (max-width: 897px){
    .gang{
        width: 38.125rem;
        height: 38.125rem;
    }
    .name{
        font-size: 2rem;
        width: 38.125rem;
        height: 3.813rem;
    }
    .people{
        width: 38.125rem;
    }
}
@media only screen and (max-width: 705px){
    html{
        font-size: 12px;
    }
}
@media only screen and (max-width: 560px){
    .section1{
        align-items: end;
    }
    html{
        font-size: 10px;
    }
}
@media only screen and (max-width: 490px){
    html{
        font-size: 9px;
    }
    #section1-text{
        font-size: 4rem;
    }
    
}
@media only screen and (max-width: 450px){
    html{
        font-size: 8px;
    }
    .phone-section{
        width: 100%;
    }
}
@media only screen and (max-width: 390px){
    html{
        font-size: 7.5px;
    }
}
@media only screen and (max-width: 350px){
    html{
        font-size: 6.5px;
    }
}





