body{
    overflow-x: hidden;
}
nav{
    background: hsl(0 0% 100% / 0.75);
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    border-bottom: 1px solid hsl(0 0% 50%);
    height: 82px;
    z-index: 3;
}
.nav-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50rem;
    max-width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
    height: 5rem;
}
#kita-icon{
    height: 3.125rem;
    width: 3.125rem;
}
#kita-title{
    font-size: 25px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}
#follow-button{
    padding: 0.5rem 1.25rem;
    text-align: center;
    color: white;
    text-decoration: none;
    background: linear-gradient(90deg, rgb(66, 135, 245), rgb(46, 87, 232));
    border-radius: 20px;
    font-size: 20px;
}
#header{
    background-color: gainsboro;
    height: 700px;
    position: relative;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    z-index: 2;
}
#header-text{
    font-size: 150px;
    position: absolute;
    top: 40%;
    text-align: center;
    width: 100%;
}
.header-pict{
    position: absolute;
    width: 300px;
    box-shadow: 0px 10px  20px grey;
}
#h-pict1{
    top: 30px;
    right: -30px;
    border-radius: 10px;
    width: 400px;
    transform: rotate(10deg);
    opacity: 1;
}
#h-pict2{
    top: 600px;
    left: 30px;
    border-radius: 10px;
    width: 450px;
    transform: rotate(-5deg);
    opacity: 1;
}
#h-pict3{
    top: 700px;
    right: -20px;
    border-radius: 10px;
    width: 300px;
    transform: rotate(5deg);
    opacity: 1;
}
#h-pict4{
    top: 50px;
    left: -30px;
    border-radius: 10px;
    width: 450px; 
    transform: rotate(-3deg);
    opacity: 1;
}
.section1{
    background-color: gainsboro;
    height: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
}
#section1-text{
    text-align: center;
    font-size: 80px;
    width: 800px;
}
#kykny{
    color: gray;
    font-size: 30px;
    display: inline;
}
.section2{
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    height: 2600px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    position: relative;
}
#section2-text{
    font-size: 150px;
    margin-top: 100px;
    margin-left: 400px;
    width: 800px;
    color: white;
    background: linear-gradient(90deg, #0762c3, #c6c2ee);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 10px;
}
#phone-box{
    display: flex;
    flex-direction: row;
    background-color: white;
    position: relative;
    border-radius: 20px;
    align-self: center;
    justify-content: space-around;
    width: 800px;
    height: 400px;
    margin-top:1200px;
}
#phones-container{
    transform: translate(0px, -1050px) scale(2.8);
    display: flex;
    z-index: 2;
}
#phone{
    width: 300px;
    transition: all 0.3s ease;
}
#kita-icon2{
    height: 3.125rem;
    width: 3.125rem;
    margin-bottom: 10px;
}
#phone-box2{
    padding: 30px 20px;
    width: 400px;
}
.phone-text{
    font-size: 40px;
}
#kita-text{
    background: linear-gradient(90deg, #0762c3, #c6c2ee);
    -webkit-background-clip: text;
    color: transparent;
}
#berwarna{
    margin-top: -20px;
    background: linear-gradient(90deg,#14c307, #0762c3, #e44a81);
    -webkit-background-clip: text;
    color: transparent;
}

